*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
root {
    --container-full-width:100%;
    --container-width: 1150px;
    --primary-color:#F8A54E;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:var(--primary-color);
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    opacity: 0.6;
}
.container-full {
    width: var(--container-full-width);
}
.container {
    width: var(--container-width);
    margin:auto;
}
#header-navbar-top ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin:0 25px ;
}
.header-navbar{
    width: 100%;
}
#header-navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #F8A54E;
    color:#fff;
}
.header-navbar-bottom ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 26px;
}.social{
    margin-right:20px;
    display: flex;
}
.social .icon{
    margin: 5px;
    height:30px;
    width: 30px;
    background: #fff;
    color: #F8A54E;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}
.searchCatagory {
    padding: 5px 10px;
}
.header{
    display: flex;
}
.header-logo{
    margin-right: 10px;
}
img{
    width: 100%;
}
.banner{
    padding-top:  10px;
    margin-bottom: 30px;

}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row, .container{
    max-width: 1150px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.col {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-9 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.avatar_title{
    font-weight: 600;
    font-size: 20px;
}
.avatar_date{
    font-style: italic;
    color: #939393;
    line-height: 24px;
    font-size: 14px;
    margin: 3px 0;
}
.avatar_desc{
    text-align: justify;
    color: #686262;
    font-size: 16px;
}
.title{
    font-size: 18px;
    font-weight: 600;
    color: #F8A54E;
    margin-bottom: 20px;
    margin-top: 30px;
}
.title:after {
    display: block;
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #F8A54E;
    width: 50px;
}
.avatar-news{
    font-size: 15px;
    font-weight: 500;


}.avatar-news a{
    display: block;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}
.row.news{
    margin-bottom: 40px;
}
.button a{
    background: #fff;
    border: 2px solid #bfbfbf;
    color: #bfbfbf;
    padding: 10px;
    font-size: 14px;
    font-weight: 200;
    float: left;
    margin-left: 5px;
}
.button{
    width: 100%;
    justify-content: center;
    display: flex;
}
.footer-icon{
    display: flex;
    margin-right:20px ;
}
.footer-icon .icon-1{
    margin: 5px;
    height: 45px;
    width: 45px;
    background: #3E3E3E;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;

}
footer{
    background-color:#383838;
    padding: 60px;
    margin-top: 40px;
}
.footer-news{
    margin-bottom: 25px;
}
.footer-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color:#fff;
}
.footer-news{
    font-size: 16px;
    margin-bottom: 30px;
    color:rgba(255, 255, 255, 0.699);
}
.footer-bottom{
    background: #0D0D0D;
    color:#fff;
    padding: 10px;
    font-size: 14px;

}
.news_content{
    position: absolute;
    margin-top: -90px;
    padding: 0 10px 10px 10px;
}
.news_title{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-top:-20px;
}
.news_date{
    color: #fff;
    margin-top: 20px;
}
.news_title_1{
    font-size: 20px;
    color: #fff;
    padding: 20px;
    font-weight: 600;
}
.news_title_2{
    font-size: 16px;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}
.avatar_content{
    padding: 0 20px 0 0;
}
.news-tintuc{
    margin-bottom: 4px;
}